<!-- include header-->
<%- include('include/_header') %> 
<!-- /include header-->

<main id="site-main">
    <div class="container">
        <div class="box-nav d-flex justify-between">
            <div class="filter">
                <a href="/"><i class="fas fa-angle-double-left"></i>All User</a>
            </div>
        </div>

        <div class="form-title text-center">
            <h2 class="text-dark">New User</h2>
            <span class="text-light">create a new user Using Below form</span>
        </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.2/jquery.min.js" integrity="sha512-tWHlutFnuG0C6nQRlpvrEhE4QpkG1nn2MOUMWmUeRePl4e3Aki0VB6W1v3oLjFtd0hVOtRQ9PHpSfN6u6/QXkQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="/js/index.js"></script>
        <%- include('include/_form') %> 
    </div>
</main>

<!-- include footer
<%- include('include/_footer') %> 
<!-- /include footer-->